@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-image: url("/image10.png");
  background-color: #191B27;
  background-repeat: no-repeat;
  background-position-x:100%;
  font-family: Oswald;
 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
